.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  grid-auto-rows: minmax(100px, auto);
}

.wrapper > div {
    padding: 1%;
    margin: 2% 2% 0% 2%;
    background-color: #24222299;
    border-radius: 3%;
    box-shadow: rgba(98, 98, 99, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.item0 {
  grid-column-start: 1;
  grid-column-end: 4;
}

.item1 {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  flex-direction: column-reverse;
  height: 80vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.logout {
  position: relative;
  left: 90%;
}